@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: AppleSDGothicNeo, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: AppleSDGothicNeo;
  src: url('/fonts/AppleSDGothicNeo/AppleSDGothicNeoM.ttf') format('truetype'),
    url('/fonts/AppleSDGothicNeo/applesdgothicneom.woff') format('woff'),
    url('/fonts/AppleSDGothicNeo/applesdgothicneom.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Segoe UI;
  src: url('/fonts/SegoeUI/segoeui.woff') format('woff');
}